<%- include('../partials/header') %>

<section id="show-page">
  <div>Player: </div>
  <div><%= stat.player %></div>
  <div>Goals: </div>
  <div><%= stat.goals %></div>
  <div>Assist: </div>
  <div><%= stat.assist %></div>
  <div>Position: </div>
  <div><%= stat.position ? 'Yes' : 'Nope' %></div>

  <div>Cast:</div>
  <ul>
    <%- stat.cast.map(p => 
      `<li>${p.name} <small>${p.born.toLocaleDateString()}</small></li>`
    ).join('') %>
  </ul>

</section>

<form id="add-per-to-list" action="/stats/<%= stat._id %>/players" method="POST">
  <select name="playerId">
  
    <%- players.map(p => 
      `<option value="${p._id}">${p.name}</option>`
    ).join('') %>
  </select>
  <button type="submit">Add to Cast</button>
</form>

<br><br><h2>comments</h2>
<form id="add-comment-form" method="POST"
  action="/stats/<%= stat._id %>/comments">
  <label>comment:</label>
  <textarea name="content"></textarea>
  </select>
  <input type="submit" value="Add comment">
</form>

<% if (stat.comments.length) { %>
  <table>
    <thead>
      <tr>
        <th>User</th>
        <th>Date</th>
        <th>comment</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% let total = 0 %>
      <% stat.comments.forEach(function(r) { %>
        <% total += r.rating %>
        <tr>
          <td class="comment"><img alt="avatar" src="<%= r.userAvatar %>" referrerpolicy="no-referrer" ><%= r.userName %></td>
          <td><%= r.createdAt.toLocaleDateString() %></td>
          <td><%= r.content %></td>
          <td>
            <% if (user?._id.equals(r.user)) { %>
              <form action="/comments/<%= r._id %>?_method=DELETE" method="POST">
                <button type="submit">X</button>
              </form>
            <% } %>
          </td>
        </tr>
      <% }); %>
      <tr>
        <td colspan="3"></td>
        <td><strong><%= (total / stat.comments.length).toFixed(1) %></strong></td>
      </tr>
    </tbody>
  </table>
<% } else { %>
  <h5>No comments Yet</h5>
<% } %>
  
<%- include('../partials/footer') %>
